.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--main-background-color);
}
.footer-logo-link {
  display: block;
  margin-bottom: 20px;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-blue-color);
}
.logo-footer {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-white-color);
}
.footer-contacts-item-adress {
  margin-bottom: 9px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-white-color);
}
.footer-contacts-item:not(:last-child) {
  margin-bottom: 9px;
}
.contacts-link-footer {
  text-decoration: none;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--transparent-white-color);
  transition: color var(--main-effects-option);
}
.contacts-link-footer:hover,
.contacts-link-footer:focus,
.contacts-link-footer:active {
  color: var(--main-blue-color);
}
.footer-container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.join-container {
  display: block;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-left: 70px;
}
.join-list {
  display: flex;
}
.join-links-item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
.join-links-item:not(:last-child) {
  margin-right: 10px;
}
.join-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--footer-join-bg-color);
  transition: background-color var(--main-effects-option);
}
.join-phrase {
  margin-bottom: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-white-color);
}
.join-link-icon {
  fill: var(--main-white-color);
}
.join-link:hover,
.join-link:focus {
  background-color: var(--main-blue-color);
}
.subscribe-container {
  margin-left: 93px;
}
.footer-form {
  display: flex;
}
.footer-subscribe-title {
  margin-bottom: 20px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-white-color);
}
.footer-input {
  display: block;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-right: 12px;
  width: 358px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  outline: none;
}
.footer-button {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 28px 10px 29px;
  background-color: var(--main-blue-color);
  border: none;
  border-radius: 4px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-white-color);
  cursor: pointer;
  transition: color var(--main-effects-option),
    background-color var(--main-effects-option);
}
.sub-icon {
  margin-left: 10px;
  fill: var(--main-white-color);
}
.footer-button:hover,
.footer-button:focus,
.footer-button:active {
  background-color: var(--button-hover-color);
  color: var(--button-hover-text-color);
  fill: var(--button-hover-text-color);
}
