.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  transition: opacity var(--main-effects-option),
    visibility var(--main-effects-option);
  &.is-hidden .modal {
    transform: scale(0.5) rotate(180deg);
  }
}

.modal {
  width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: var(--main-white-color);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(1) translate(-50%, -50%);
  transition: transform var(--main-effects-option);
}
.modal-close-btn {
  display: flex;
  align-items: center;
  text-align: center;
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  &:hover {
    cursor: pointer;
  }
  &:hover,
  &:focus .close-icon {
    fill: var(--main-blue-color);
  }
}

.close-icon {
  transition: fill var(--main-effects-option);
}

.modal__title {
  margin-bottom: 12px;
  text-align: center;
  @include font(Roboto, 20px, 700, 1.15, 0.03em, var(--secondary-black-color));
}
.modal__form-field {
  margin-bottom: 10px;
}
.modal__input-wrap {
  position: relative;
}
.input-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  transition: fill var(--main-effects-option);
}
.modal__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  background-color: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color var(--main-effects-option);
  &:focus {
    border-color: var(--main-blue-color);
  }
  &:focus + .input-icon {
    fill: var(--main-blue-color);
  }
}
.input__label {
  display: block;
  margin-bottom: 4px;
  @include font(Roboto, 12px, 400, 1.17, 0.01em, var(--main-text-color));
}
.modal__comment-field {
  display: block;
  margin-bottom: 20px;
}
.modal__comment-area {
  display: block;
  resize: none;
  width: 100%;
  height: 120px;
  padding: 16px 12px;
  background-color: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  &:focus {
    border-color: var(--main-blue-color);
  }
  &::placeholder {
    @include font(Roboto, 12px, 400, 1.17, 0.01em, rgba(117, 117, 117, 0.5));
  }
}
.modal__checkbox-field {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.modal__checkbox-text {
  display: flex;
  align-items: center;
  text-align: center;
  @include font(Roboto, 14px, 400, 1.71, 0.03em, var(--main-text-color));
  span {
    display: flex;
    align-items: center;
    text-align: center;
    width: 16px;
    height: 15px;
    border: 2px solid var(--main-black-color);
    border-radius: 2px;
    margin-right: 8px;
  }
}
.checkbox-icon {
  fill: transparent;
}
.modal__checkbox:focus + .modal__checkbox-text {
  span {
    border-color: var(--main-blue-color);
  }
}
.modal__checkbox:checked + .modal__checkbox-text {
  span {
    background-color: var(--main-blue-color);
    border: none;
  }
}
.modal__checkbox:checked + .modal__checkbox-text {
  .checkbox-icon {
    fill: var(--main-white-color);
  }
}
.checkbox__terms {
  @include font(Roboto, 14px, 400, 1.71, 0.03em, var(--main-blue-color));
  text-decoration: underline solid var(--main-blue-color);
  text-decoration-skip-ink: none;
}
.modal__submit-button {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--main-blue-color);
  border: none;
  border-radius: 4px;
  @include font(Roboto, 16px, 700, 1.87, 0.06em, var(--main-white-color));
  cursor: pointer;
  transition: color var(--main-effects-option),
    background-color var(--main-effects-option);
  &:hover,
  &:active,
  &:focus {
    background-color: var(--button-hover-color);
    color: var(--button-hover-text-color);
  }
}
