.customers-title {
  margin-bottom: 50px;
  @include main-title-font();
  color: var(--secondary-black-color);
}
.hero-section-title {
  max-width: 696px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  @include hero-title-font();
  color: var(--main-white-color);
}
.our-team-title {
  margin-bottom: 50px;
  @include main-title-font();
  color: var(--secondary-black-color);
}
.our-work-title {
  margin-bottom: 50px;
  @include main-title-font();
  color: var(--secondary-black-color);
}
.modal-title {
  margin-bottom: 12px;
  @include modal-title-font();
  color: var(--secondary-black-color);
}
