.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--main-background-color);
}
.footer-logo {
  display: block;
  margin-bottom: 20px;
  @include logo-font();
  color: var(--main-blue-color);
}
.footer-logo__right {
  @include logo-font();
  color: var(--main-white-color);
}
.footer-contacts__item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-contacts__item-address {
  margin-bottom: 9px;
  @include footer-address-font();
  color: var(--main-white-color);
}

.contacts-link-footer {
  @include footer-contacts-link-font();
  color: var(--transparent-white-color);
  transition: color var(--main-effects-option);
  &:hover,
  &:focus,
  &:active {
    color: var(--main-blue-color);
  }
}

.footer__wrap {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.join-us {
  display: block;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-left: 70px;
}
.join-us-list {
  display: flex;
}
.join-us__item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.join-us__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--footer-join-bg-color);
  transition: background-color var(--main-effects-option);
  &:hover,
  &:focus {
    background-color: var(--main-blue-color);
  }
}
.join-us__text {
  margin-bottom: 20px;
  @include footer-subscribe-font();
  color: var(--main-white-color);
}
.join-us__icon {
  fill: var(--main-white-color);
}

.subscribe {
  margin-left: 93px;
}
.subscribe-form {
  display: flex;
}
.subscribe__title {
  margin-bottom: 20px;
  @include footer-subscribe-font();
  color: var(--main-white-color);
}
.subscribe-input {
  display: block;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-right: 12px;
  width: 358px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  @include footer-input-font();
  color: rgba(255, 255, 255, 0.6);
  outline: none;
}
