.hero__title {
  max-width: 696px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  @include hero-title-font();
  color: var(--main-white-color);
}
.hero {
  width: 1600px;
  max-width: 100%;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--main-background-color);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero__order-btn {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--main-blue-color);
  border: none;
  border-radius: 4px;
  @include main-buttons-font();
  color: var(--main-white-color);
  cursor: pointer;
  transition: color var(--main-effects-option),
    background-color var(--main-effects-option);
  &:hover,
  &:active,
  &:focus {
    background-color: var(--button-hover-color);
    color: var(--button-hover-text-color);
  }
}
