.our-work-title {
  margin-bottom: 50px;
  @include main-title-font();
  color: var(--secondary-black-color);
}
.our-work-list {
  display: flex;
  flex-wrap: wrap;
}
.our-work-item {
  margin-right: 30px;
  position: relative;
  overflow: hidden;
  &:nth-child(3n) {
    margin-right: 0px;
  }
  &:hover .our-work-overlay {
    transform: translateY(0);
  }
}

.our-work-overlay {
  width: 100%;
  height: 70px;
  padding: 27px 0px 27px 0px;
  text-align: center;
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  transition: transform var(--main-effects-option);
  @include our-work-overlay-font();
  color: var(--main-white-color);
}
